---
layout: 
---
<!doctype html>
<html ng-app="app">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="https://rawgit.com/bmaupin/weighted-password-generator/master/weighted-passgen.js"></script>
    <!--<script src="src/numberpicker/numberpicker.js"></script>-->
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.8/dist/clipboard.min.js"></script>
    <script src="assets/scripts/app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/style.css">
  </head>
  <body>
    {% include header.html %}
    <div class="container" id="content" ng-controller="Controller">
      <table id="passwordTable">
        <tr>
          <td id="copyPassword">
            <button class="btn" type="button" data-clipboard-target="#newPassword" tooltip="Copied!" tooltip-placement="bottom" tooltip-trigger="click">
              <img class="clippy" src="assets/images/clippy.svg" alt="Copy to clipboard">
            </button>
          </td>
          <td>
            <pre id="newPassword" class="form-group-lg" select-on-click>{% raw %}{{newPassword}}{% endraw %}</pre>
          </td>
        </tr>
      </table>
      <div>
        <input type="checkbox" ng-model="includeLower" ng-change="updateClasses()"> Include lowercase (abc...)<br/>
        <input type="checkbox" ng-model="includeUpper" ng-change="updateClasses()"> Include uppercase (ABC...)<br/>
        <input type="checkbox" ng-model="includeNumbers" ng-change="updateClasses()"> Include numbers (123...)<br/>
        <input type="checkbox" ng-model="includeSymbols" ng-change="updateClasses()"> Include symbols (@#$...)<br/>
      </div>
      <div id="newPasswordButton">
        <button type="button" class="btn btn-success" ng-click="generateNewPass()">New password</button>
      </div>
    </div>
  </body>
</html>
