<header>
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="https://bmaupin.github.io/simple-password-generator/">Password generator</a></li>
        <li><a href="https://bmaupin.github.io/react-civ5save-editor/">Civ 5 save editor</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li style="align-items: center; display: flex; height: 50px; justify-content: center;">
          <a href="https://github.com/bmaupin/bmaupin.github.io" style="line-height: initial;">
            <img src="/assets/images/github.svg" alt="github" style="height: 25px;">
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
