#sites {
  display: flex;
  flex-flow: row wrap;
}

#sites > div {
  height: 100px;
  margin: 0 10px 10px 0;
  width: 100px;
}

#sites div:hover {
  opacity: 0.9;
}

#sites div div {
  padding: 25px;
}

#sites img {
  height: 50px;
  width: 50px;
}

#sites #askubuntu {
  background-color: #de4508;
}

#sites #blog {
  background-color: #f57d00;
}

#sites #github {
  background-color: #333333;
}

#sites #wiki {
  background-color: #0266c8;
}

#sites #stackoverflow {
  background-color: #fe7a15;
}
